* {
  box-sizing: border-box;
  text-align: center;
  flex-flow: row wrap;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}
@media all and (min-width: 1025){
  .main{
    flex: 1;
  }
  .menu{
    flex: 1;
  }

 }




